html{
    background-color: #007fff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

h1{
    font-size: 90px;
    text-align: center;
    color: #FFFFFF;
}


#intro{
    background-color: #007fff;
    text-align: center;
}

#places{
    padding: 20px;
    margin: 30px;
    border: 10px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;

}

img{
    display: block;
    margin: auto;
    width: 70%;
    min-width: 330px;
}

